---
import { GITHUB_URL, LINKEDIN_URL, TWITTER_URL } from "../consts";
---

<footer>
	<div class="flex gap-4 justify-center social-links text-2xl">
		<a href={TWITTER_URL} target="_blank" aria-label="Twitter">
			<i class="bi bi-twitter-x hover:text-blue-500"></i>
		</a>
		<a href={GITHUB_URL} target="_blank" aria-label="GitHub">
			<i class="hover:text-blue-500 bi bi-github"></i>
		</a>
		<a href={LINKEDIN_URL} target="_blank" aria-label="LinkedIn">
			<i class="hover:text-blue-500 bi bi-linkedin"></i>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		text-align: center;
	}
</style>
