---
import DarkModeToggle from './DarkModeToggle.astro';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav class="dark:text-white text-zinc-900 border-b border-gray-300 dark:border-gray-800">
		<div class="container mx-auto flex justify-between h-16 items-center">
			<div class="space-x-4 flex">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
			</div>
			<div class="ml-auto">
				<DarkModeToggle></DarkModeToggle>
			</div>
		</div>
	</nav>
	
</header>
